@import '../mixins/colors';

.primary-title {
    color: $green-color;
    font-size: 13px;
    text-transform: uppercase;
}

.secondary-title {
    font-size: 26px;
    font-weight: 300;
}

.text-xl {
    font-size: 70px;
    font-weight: bold;
}

.sub-text {
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 24px;
}

.legal-text {
    font-size: 11px;
    color: #ccc;
    margin-top: 20px;

    a {
        text-decoration: underline;
        color: #ccc;
    }
}

@media (max-width: 768px) {
    .text-xl {
        font-size: 40px;
        line-height: 1.3;
    }

    .sub-text {
        font-size: 20px;
    }
}